language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

env:
  - SYMFONY_VERSION=2.4.*
  - SYMFONY_VERSION=2.7.*
  - SYMFONY_VERSION=2.8.*

cache:
  directories:
    - $COMPOSER_CACHE_DIR

matrix:
  allow_failures:
    - php: hhvm
    - php: 7.0
    - env: SYMFONY_VERSION=dev-master

  include:
    - php: 5.6
      env: SYMFONY_VERSION=2.4.*
    - php: 5.6
      env: SYMFONY_VERSION=2.5.*
    - php: 5.6
      env: SYMFONY_VERSION=2.6.*
    - php: 5.6
      env: SYMFONY_VERSION=2.7.*
    - php: 5.6
      env: SYMFONY_VERSION=2.8.*
    - php: 5.6
      env: SYMFONY_VERSION=3.0.*
    - php: 5.6
      env: SYMFONY_VERSION=dev-master

before_script:
  - composer selfupdate
  - composer require symfony/http-kernel:${SYMFONY_VERSION} --prefer-source
  - composer install --dev --prefer-source
